<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=on">
		<link href="static/css/m-reset_1.css" rel="stylesheet">
		<link href="static/css/global1803.css" rel="stylesheet">
		<link href="static/css/topic-style.css" rel="stylesheet">
		<script src="static/js/Vue2.0.js"></script>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/currency_utils.js"></script>
		<script src="static/js/global20170703.js"></script>



		<title>票务查询</title>
	</head>
	<body class="bg w">
		<div id="vue">
			<div class="top-height h9">
				<div class="top-fixed">
					<!--头部导航-->
					<header class="top">
						<div class="main">

							<div class="left"><a onclick="javascript:history.go(-1)" class="txt"><b class="iconfont icon-back1"></b></a></div>
							<!-- <div class="right"><a class="menu-link"><b class="iconfont icon-menu"></b></a></div> -->
							<p class="ti">票务查询</p>


						</div>
					</header>
					<div class="channel-search">
						<div class="main">
							<div class="search">
								<div class="s-input"><input type="text" placeholder="输入景区名/城市/主题关键字" id="key" name="key"></div>
								<a>
									<div class="s-btn"><b class="iconfont icon-search" v-on:click='searchProduce'></b></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--频道搜索EDN-->

			<!--推荐/热销产品-->
			<div class="hot-list single">
				<div class="classify-top classify-item"><span class="ti yellow">热销门票</span>
				</div>
				<ul>
					
					<div style="text-align: center;margin: 10vw 0;font-size: 1.5rem;" v-if='produceList.length == 0'>
						空空如也
					</div>
					
					<li v-for='(item,index) in produceList'>
						<a href="goods_content.html">
							<div class="img img-clip"><img style="height: 40vw;max-height: 32rem;" :src="item.pi_picture"></div>
							<span class="city"><b class="iconfont icon-city"></b>清新区</span>
							<div class="cont">
								<p class="ti">{{item.pi_name}}
								</p>
								<div class="bt"><span class="price">¥<b>{{item.pi_price}}</b>起</span><span class="btn">立即查看</span></div>
							</div>
						</a>
					</li>

					<!-- <li><a href="goods_content.html">
							<div class="img img-clip"><img src="static/picture/1524027829927.jpg"></div>
							<span class="city"><b class="iconfont icon-city"></b>清新区</span>
							<div class="cont">
								<p class="ti">清泉湾空中玻璃漂+极速漂流+动感水城 成人票（即买即用 免预约）
								</p>
								<div class="bt"><span class="price">¥<b>198</b>起</span><span class="btn">立即查看</span></div>
							</div>
						</a></li>

					<li><a href="goods_content.html">
							<div class="img img-clip"><img src="static/picture/1524026485922.jpg"></div>
							<span class="city"><b class="iconfont icon-city"></b>清新区</span>
							<div class="cont">
								<p class="ti">清泉湾空中玻璃漂+极速漂流 成人票（即买即用 免预约）
								</p>
								<div class="bt"><span class="price">¥<b>148</b>起</span><span class="btn">立即查看</span></div>
							</div>
						</a></li>

					<li><a href="goods_content.html">
							<div class="img img-clip"><img src="static/picture/1524909649685.jpg"></div>
							<span class="city"><b class="iconfont icon-city"></b>清新区</span>
							<div class="cont">
								<p class="ti">清远黄腾峡漂流【勇士漂，9点前预定】
								</p>
								<div class="bt"><span class="price">¥<b>138</b>起</span><span class="btn">立即查看</span></div>
							</div>
						</a></li>

					<li><a href="goods_content.html">
							<div class="img img-clip"><img src="static/picture/1524909649685.jpg"></div>
							<span class="city"><b class="iconfont icon-city"></b>清新区</span>
							<div class="cont">
								<p class="ti">清远黄腾峡漂流【猛士漂，9点前预定】
								</p>
								<div class="bt"><span class="price">¥<b>198</b>起</span><span class="btn">立即查看</span></div>
							</div>
						</a></li> -->

				</ul>
				<!-- <a class="btn-more" href="list0.jsp?order_cust_id=522336&user_id=xs19920721">查看全部门票产品 ></a> -->
			</div>


			<!-- <div class="block">
				<div class="head">
					<div class="classify-top classify-item"><span class="ti green">周边景点</span>

					</div>
				</div>
				<div class="main">
					<div class="cont">
						<div class="s-link row4" id="nearmore">

							<a href="list0.jsp?area_id=1004418&order_cust_id=522336&user_id=xs19920721">清远
							</a>

							<a href="list0.jsp?area_id=10044&order_cust_id=522336&user_id=xs19920721">广东
							</a>

							<a href="list0.jsp?area_id=1004401&order_cust_id=522336&user_id=xs19920721">广州
							</a>

							<a href="list0.jsp?area_id=1004402&order_cust_id=522336&user_id=xs19920721">韶关
							</a>

							<a href="list0.jsp?area_id=1004409&order_cust_id=522336&user_id=xs19920721">茂名
							</a>

							<a href="list0.jsp?area_id=1004413&order_cust_id=522336&user_id=xs19920721">惠州
							</a>

							<a href="list0.jsp?area_id=1004408&order_cust_id=522336&user_id=xs19920721">湛江
							</a>

						</div>
					</div>
				</div>
			</div> -->


			<div class="mask-div"></div>
		</div>

		<script language="javascript">
			$(function() {
				imgClip(".hot-list .img", 2);
				imgClip(".hot-list.single .img", 2);
				//img-clip
				function imgClip(e, s) {
					var w = $(e).width();
					var h = parseInt(w / s);
					$(e).each(function() {
						$(this).css("height", h);
						var ih = $(this).find("img").height();
						if (ih < h) {
							$(this).find("img").css("height", "100%")
						}
					});
				};
			});

			// function searchTicket() {
			// 	if ($('#key').val() == '') {
			// 		alert('请输入景点或者产品名称！');
			// 		return false;
			// 	}
			// 	location.href = 'list0.jsp?key=' + escape(escape($('#key').val())) + '&order_cust_id=522336&user_id=xs19920721';
			// }


			
			// }
		</script>
		<script type="text/javascript">
			var agent = '/api';  // 用于跨域代理名称转化
			new Vue({
				el: '#vue',
				data: {
					produceList: [],
				},
				methods: {
					
					// 搜索产品
					searchProduce: function(){
						var key = $('#key').val();
						if(key == ''){
							alert('请输入关键字');
							return false;
						}
						this.getProduceListByName(key, 0, 10);
					},
					
					// 通过产品类别获取列表
					getProduceListById: function(id, start, limit){
						let that = this;
						$.post(agent+"/lsmsManager/product/queryProductInfoByPiClassification",
							{ 
								pi_classification: id,
								start: start,
								limit: limit,
							},
							function(data,status){
								that.produceList = data.map(function(value, index){
									value.pi_picture = agent+'/imgaes/'+value.pi_picture.substring(0, value.pi_picture.length-1);
									return value;
								});
							  
						});
					},
					
					// 通过产品名称搜索产品列表
					getProduceListByName: function(key, start, limit){
						let that = this;
						$.post(agent+"/lsmsManager/product/queryProductInfoByPiNameLike",
							{ 
								pi_name: key,
								start: start,
								limit: limit,
							},
							function(data,status){
								that.produceList = data.map(function(value, index){
									value.pi_picture = agent+'/imgaes/'+value.pi_picture.substring(0, value.pi_picture.length-1);
									return value;
								});;
							  
						});
					},
				},
				created: function(){
					var name = location.href.split('?');
					var parm = name[1].split('=')[0];
					var key = name[1].split('=')[1];
					console.log(parm)
					if(parm == 'key'){
						// 模糊搜索产品
						this.getProduceListByName(key, 0, 10);
					}else{
						// 查询分类类型
						this.getProduceListById(key, 0, 10);
					}
					
				}
			})
			
		</script>
	</body>






</html>
